.sidebar-item {
    transition: background-color ease-in-out .1s;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: .25rem;

    .sidebar-label {
        transition: opacity ease-in-out .1s;
        opacity: 1;
        margin-left: 1rem;
        color: var(--bs-gray-600);
        white-space: nowrap;
    }

    &:hover,
    &.active {
        background-color: var(--bs-secondary-light);

        .sidebar-label {
            color: var(--bs-gray-800);
        }

        i {
            color: var(--bs-primary);
        }
    }

    &.active {
        font-weight: 600;
    }
}

.sidebar-tooltip {
    display: none !important;
}

@media (min-width: 992px) {
    body[data-kt-aside-minimize=on] {
        .sidebar-content {
            max-width: 70px;
            overflow-x: clip;
        }

        .sidebar-tooltip {
            display: block !important;
        }

        .sidebar-toggler i {
            color: var(--bs-primary) !important;
        }

        .sidebar-item .sidebar-label {
            opacity: 0;
        }
    }
}

@media (min-width: 992px) {
    [data-kt-aside-minimize=on] .aside.aside-default {
        width: 70px;
        transition: width .3s ease;
    }
}
